# macOS
.DS_Store

# IDE
.idea/
.vscode/
*.swp
*.iml

# Dart/Flutter (client/)
client/.dart_tool/
client/.flutter-plugins
client/.flutter-plugins-dependencies
client/.packages
client/build/

# Python (server/)
server/.env
server/__pycache__/
server/*.pyc
server/.venv/
server/venv/
